@import models.Tables._

@(re: (Seq[(Int, Option[Int], String)], Seq[models.Tables.TodoTypeRow]))

@main("index") {

    todo index

    <form action="/todo/insert" method="POST">
      <input name="todoTypeId" type="text" placeholder="todoTypeId" />
      <input name="content" type="text" placeholder="content" />
      <input type="submit"/>
    </form>

    <table>
      <tr><th>id</th><th>TodoTypeId</th><th>Content</th></tr>
      @for(t <- re._1){ 
      <tr><td>@t._1</td><td>@t._2</td><td>@t._3</td></tr>
      }
    </table>

    <br />
    TODO make it select
    <table>
      <tr><th>id</th><th>title</th></tr>
      @for(t <- re._2){ 
      <tr><td>@t.id</td><td>@t.title</td></tr>
      }
    </table>

}

